/*Este comentario se compila*/
body {
  margin: 0;
  display: grid;
  grid-template-rows: 2fr auto auto 1fr;
}
body > header, body > footer {
  background-color: brown;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body > header h1, body > footer h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main {
  min-height: 60vh;
}
main section.intro {
  margin: 2.6rem;
}
main section.intro header, main section.intro body > footer {
  background-color: #ffe9ce;
  color: #9d2828;
}
main section.intro article {
  justify-content: center;
}
main section.sample {
  margin: 2.6rem;
}
main section.sample header, main section.sample body > footer {
  background-color: #ffe9ce;
  color: #9d2828;
}

p {
  border: 1px solid crimson;
  padding: 1rem;
}
