doctype
html(lang=idioma)
    head
        meta(charset='utf-8')
        title hola mundo
        body
         header
          h1 vamo'a ver
         section 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa molestiae voluptates voluptatem <strong>molestias</strong> excepturi aperiam, sequi optio, inventore reprehenderit iusto tempora unde nulla odit blanditiis commodi quos quas mollitia culpa. 
         footer
          adress #{autora}




           