/*///////////////////////////////////
////////////////////////////////////////////
/////////////500//////////////////////////
///////////////////////////////////////
////////////////////////////////////*/


@media screen and (min-width: 500px) {

    html{
        box-sizing: border-box;
        font-size: 62.5%;
    }
    
    body {
        margin: 0 auto;
        width:90%;
    }


    .fondo {
        margin: 0 auto;
        width:90%;
        background-image: url(../assets/parisfondo.jpg);
        background-size: cover;
        /* background-blend-mode: difference;  */
    }
    
    .main_header {
        margin: 0 auto;
        width:25%;
        color: #151E3F;
        font-size: medium;
        /* padding: 7rem 0rem 1.2rem 1rem; */
        text-align: center;
        font-family: 'Cinzel', serif;
    
    }
    
    .main_header p {
        font-size: small;
        font-weight: bold;
        margin: 0 auto;
        width:10%;
    } 
    
    .icono {
        max-width: 15%;
    }
    
    
    
    /* ///////////////avión/////////////// */
    
    
    
    #contenedor{
        width: 5%;
        /* margin-right: 2rem; */
        padding-bottom: 0;
       }
    
       #contenedor-imagen img {
           /* margin-top: 4rem;
           margin-left: 3rem; */
           width: 5%;
           /* margin-right: 80%; */
           padding-bottom: 0;
        border: none;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
      
       }
    
       #contenedor-imagen img:hover {
        transform: rotate(-40deg) translate(60rem);
       }
    
    /* ///////////////menú/////////////// */
    
    
    nav {
        background-color:#D7DDF2;
        padding: 0;
        color: rgb(66, 66, 66);
        margin: 2rem 0;
        font-family: 'cinzel';
        font-weight: bold;
        padding: 1rem;
    }
    
    nav ul {
        display: grid;
        grid-template-columns: repeat(2,200px);
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    nav li {
        display: inline-block;
    }
    nav a {
        color: inherit;
        text-decoration: none;
        display: block;
     } 
     nav > ul a:focus,
     nav > ul a:hover {
         background-color: #151E3F;
         color:#D7DDF2;
     }
    
    }
    


/*///////////////////////////////////
////////////////////////////////////////////
/////////////650//////////////////////////
///////////////////////////////////////
////////////////////////////////////*/




    @media screen and (min-width: 650px) {
        
        .content-wrapper {
            margin-left: 3rem;
            margin-right: 3rem;
        }
    
        nav.icon,
        nav.footer
        {
             display: none;
        }
    
        div.superior nav.horizontal {
           display: initial;
        }
    
        nav li { /* Los li son contenedores, para poder fijar desde ellos posiciones absolutas */
            position: relative;
            }
    
        nav ul {
            padding: 0;
            margin: 0;
            background-color: rgba(200,200,200,0.2);
            display: flex;
        }
    
        nav a { /* Cualquier a dentro de nav */
            display: block;
            padding: 0.3rem 0.7rem;
            /* margin: 0.25em;
            border-radius: .5em;
            border: 1px solid #ba89a8;
            background-color: rgba(200,200,200,0.5);
            */
            text-align: center; 
            font-weight: bold;
        }
    
        nav a {
            transition: 
                color 1s, 
                background-color 1s;
        }
    
        nav > ul a:focus,
        nav > ul a:hover
        { /* Cualquier a dentro de nav */
            background-color: brown;
            color: #fc6;
        }
        
        nav.horizontal>ul>li{
            display: flex;
            flex-wrap: wrap; 
            align-items: center;
        }
    
        nav.horizontal>ul>li:not(:last-of-type)::after{
            content: "|";
            font-weight: bold;
        }
    
        /* =================== */
        /* = submenús        = */
        /* =================== */
                    
        li ul { /* El segundo nivel del menú oculto*/
            display: none;
        }
        nav>ul>li:hover > ul { /* El segundo nivel del menú se muestra */
            display: block;
            position: absolute;
            top: 1.7rem
        }
    
        /* =============================== */
        /* = submenús segundos	         = */
        /* =============================== */
        /* El segundo nivel del menú se muestra */
    
        nav>ul>li:nth-of-type(1)>ul>li:hover > ul { 
            display: block;
            position: absolute;
            top: 0rem;
            left: 7rem;
        }
    
        nav>ul>li:nth-of-type(2)>ul>li:hover > ul { 
            display: block;
            position: absolute;
            top: 0rem;
            left: 5rem;
        }
    }
        


/*///////////////////////////////////
////////////////////////////////////////////
/////////////800//////////////////////////
///////////////////////////////////////
////////////////////////////////////*/




    @media screen and (min-width: 800px) {
        .content-wrapper {
            margin-left: 1rem;
            margin-right: 1rem;
            display: flex;
            flex-wrap: wrap;
        }
    
        section {
            width: 50%;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    
        nav a { /* Cualquier a dentro de nav */
            padding: 0.3rem 2rem;
        }
    
    
    }